<!-- ec2 - rollingFile (ERROR만 기록) -->
<appender name="DEVROLLFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <!-- 에러 파일은 즉시 flush 권장 -->
    <immediateFlush>true</immediateFlush>

    <!-- 메인 파일 경로 -->
    <file>/Users/gwagseongjun/Desktop/SERVER/PERMIT/logs/CAKEY-ERROR-LOG.log</file>

    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
        <!-- 파일에는 ANSI highlight 제거 (이스케이프 코드 방지) -->
        <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{0} - traceId=%X{traceId:-} - %msg%n</pattern>
    </encoder>

    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
        <!-- 날짜/인덱스별 분리 + zip 압축 -->
        <fileNamePattern>/Users/gwagseongjun/Desktop/SERVER/PERMIT/logs/CAKEY-ERROR-LOG-%d{yyyy-MM-dd}-%i-log.zip</fileNamePattern>
        <maxFileSize>50MB</maxFileSize>
        <maxHistory>30</maxHistory>
        <totalSizeCap>3GB</totalSizeCap>
        <cleanHistoryOnStart>true</cleanHistoryOnStart>
    </rollingPolicy>
</appender>
